.match{
    float: right;
    width: 70%;
    margin-top: 20px;
    margin-right: 5px;
    padding: 15px;
    border: 1px solid #131313;
    border-radius: 5px;
    background-color: #17161c;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
    display: inline;
    max-height: 200px;
    overflow: hidden;
}
#won{
    background-color: #29293a;
    color: #8da1f9;
    border-left: #8da1f9 5px solid;
}
#lost{
    color: #f98d8d;
    background-color: #2e2326;
    border-left: #f98d8d 5px solid;
}
.items img{
    width: 30px;
    
}
.items{

    margin: 0;
    padding: 0;
    width: 45%;
    max-height: 30px;
    margin-right: 1em;
    display: flex
}
.emptyItem{
    width: 30px;
    height: 30px;
    background-color: #1d1d28;
}
.general{
    float: left;
    font-size: 0.7em;
    margin-right: 1em;
    width: 10%;
}
.summoner{
    float: left;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 0.8em;

    width: 50%;
}
.runes{
    width: 15%;
    float: right;
}
.runes img{
    width: 20px;    
}
.summonerStats{
    width: 100%;
    padding-right: 1em;
    margin-right: 1em;
}
.mainCharacterPortrait{
    max-width: 105px;
    margin-right: 5px;
}
.participantImage{
    width: 7%;
}
.participants{
    width: 30%;

    margin: 0;
    padding: 0;
    height: 150px;
    float: right;
}
.winners, .losers {

margin-right: 0.2em;

font-size: 0.5em;
}
.losers{
    color: #f98d8d;
    float: right;
}
.winners{
    color: #8da1f9;
    float: left;
}
.participant{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0;
    padding: 0;    
}
.participant:hover{
    color: white;
    cursor: pointer;
}
.participant img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 0.5em;
    float: left;
}
.participant h3{
    float: right;
    margin-left: 1em;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    width: 100%
}
.footer:hover{
    cursor: pointer;
  color: white;
}
#matchDetails{
    float: right;
}