.match{
    float: right;
  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #e9eff4;
    border-radius: 5px;
    background-color: #17161c;

}
#won{
    background-color: #373653;
}
#lost{
    background-color: #3b292e;
}
.summoner{
    float: left;
}
.mainCharacterPortrait{
    width: 20%;
}
.participantImage{
    width: 7%;
}
/* .participants{
    float: right;
} */
.winners, .losers {
    display: flex;
    flex-direction: column;
    float: right;
   margin-right: 0.5em;
   margin-top: none;
   padding: none;
   justify-content: center;
}
.participant p{
    float: right;
}
.winners img, .losers img{
  width: 15%;
  
}

.teams {
    display: inline;
    justify-content: space-between;
}

.paritcipant{display: inline-block;}