.navbar {
    width: 100%;
    background-color: #25242d;
    color: #959cfb;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
li {
    display: inline;
    margin: 0 10px;
}
.logo{
display: inline;
font-weight: 800;
}
.credit{
    display: inline;
    font-weight: 600;
}