.navbar {
    width: 100%;
    background-color: #25242d;
    color: #00ff99;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
li {
    display: inline;
    margin: 0 10px;
}
.logo{
display: inline;
    top: 50%;

    font-weight: 600;
}